{% extends 'layout.html' %}

{% block body %}
<h5>DASHBOARD<h5>
<hr>
<h6><small>HOŞGELDİNİZ {{request.user}}</small><h6>
<hr>
<a class = "btn btn-primary" href = "/article/addarticle">MAKALE EKLE</a>
<hr>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">BAŞLIK</th>
      <th scope="col">TARİH</th>
      <th scope="col">YAZAR</th>
      <th scope="col">GÜNCELLE</th>
      <th scope="col">SİL</th>
    </tr>
  </thead>
    <tbody>
      {% for article in articles %}
        <tr>
          <th scope="row">{{article.id}}</th>
          <td><a href = "/article/article/{{article.id}}">{{article.title}}</a></td>
          <td>{{article.created_data}}</td>
          <td>{{article.author.username}}</td>
          <td><a href="/article/update/{{article.id}}" class = "btn btn-success btn-sm">Güncelle</a></td>
          <td><a href="/article/delete/{{article.id}}" class = "btn btn-danger btn-sm">Sil</a></td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock body %}
